.projects{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #FFF7E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h1{
    /* color: #fff; */
    font-size: 10vh;
}

.project-space{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
}

.proj-card{
    height: 50vh;
    width: 27vw;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
}

.proj-img{
    height: 70%;
    width: 100%;
    /* background-color: aquamarine; */
}

.hrule-proj{
    width: 30vw;
}
.proj-pics{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}
.proj-description{
    margin-top: 10px;
    font-weight: 600;
    /* color:#fff; */
}
.proj-btn{
    margin-top: 10px;
    height: 30px;
    width: 70px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: #FF731D;
    font-weight: 500;

}
@media screen and (max-width:769px){
    .projects{
        padding-top: 2vh;
        height: 100vh;
        width: 100vw;
        background-color: #FFF7E9;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-space{
        height: 100vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        align-items: center;
        justify-content: space-evenly;
    }
    .proj-card{
        height: 22vh;
        width: 70vw;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
    }
    .hrule-proj{
        width: 80vw;
    }
    .projects h1{
        /* color: #fff; */
        font-size: 8vh;
    }
    .proj-img{
        height: 60%;
        width: 100%;
        /* background-color: aquamarine; */
    }
}