.hero{
    background-color: #FFF7E9;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.blue{
    color: #1c1363;
}

#dialogue{
    padding-top: 25vh;
    color: #FF731D;
    justify-content: space-around;
    font-weight: 900;
}