.hero{
    background-color: #BBE1FA;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
}

.blue{
    color: #393E46;
}

#dialogue{
    padding-top: 25vh;
    color: #FF731D;
    justify-content: space-around;
    font-weight: 900;
}