.skills{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #AA96DA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1{
    /* color: #fff; */
    font-size: 4vw;
    align-self:flex-start;
    margin-left: 10vw;
}

.all-six{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
}

.first-three{
    /* background-color: grey; */
    height: 50%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.second-three{
    /* background-color: grey; */
    height: 50%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.skill-one{
    height: 10%;
    width: 95%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}
.skill-two{
    height: 10%;
    width: 95%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
}
.skill-three{
    height: 10%;
    width: 95%;
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
}

.skillname{
    text-align: left;
    /* color: #fff; */
    font-weight: 800;
}
.progress-bar{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    height: 95%;
    background-color: red;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid black;
}
.progress-bar:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.skill-level{
    text-align: right;
    font-weight: 900;
    /* color: #fff; */
}

.hrule-skills{
    width: 25vw;
    align-self:flex-start;
    margin-left: 10vw;
}

@media screen and (max-width:769px){
    .all-six{
        height: 90vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        align-items: center;
    }
    .skills {
        padding-top: 9vh;
        padding-bottom: 10vh;
        height: 100vh;
        width: 100vw;
        background-color: #AA96DA;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills h1{
        /* color: #fff; */
        font-size: 50px;
        
    }
    .hrule-skills{
        width: 40vw;
    }
}